.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
img/
HerveVerjusCV.pdf
internships/master_mtii/css/
internships/master_mtii/img/
internships/master_mtii/js/
internships/master_mtii/lib/
internships/master_mtii/plugin
reveal/
